@import "./custom/bootstrap";

html {
  --scrollbarBG: #CFD8DC;
  --thumbBG: #90A4AE;
}
body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
.slider {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    &::-webkit-scrollbar {
      width:30px; // manage scrollbar width here
      height: 5px;
    }
    &::-webkit-scrollbar * {
      background:transparent; // manage scrollbar background color here
    }
    &::-webkit-scrollbar-thumb {
      background:rgba(229, 9, 20,0.5) !important; // manage scrollbar thumb background color here
    }

    .slider-item {
      flex: 0 0 auto;
      transition: transform .3s;
      &:hover{
        transition: transform .3s;
        transform: scale(1.05);
      }
    }
  }

footer{
    a {
        text-decoration: none;
        color: $secondary;
        margin-bottom: 1rem;
        &:hover,
        &:focus {
            color: #565e64 !important;
          }
    }
}
